1. Write a program to reverse a string.

In [1]:
def reverse_srting(n):
    x = n[::-1]
    return x

reverse_srting("hello")

'olleh'

2. Check if a string is a palindrome.

In [2]:
def check_palindrome(n):
    if n == n[::-1]:
        return "Its palindrome"
    else :
        return "its not a palindrome"

check_palindrome("malayalam")

'Its palindrome'

3. Convert a string to uppercase.

In [3]:
string = "hello"
string.upper()

'HELLO'

4. Convert a string to lowercase.

In [4]:
string = "HELLO"
string.lower()

'hello'

5. Count the number of vowels in a string.

In [5]:
def vowel_count(string):
    count = 0
    string = string.lower()
    vowels = set("aeiou")
    for i in string :
        if i in vowels:
            count += 1
    return count
string = "udayAa"
result = vowel_count(string)
print("number of vowel :",result)

number of vowel : 4

6. Count the number of consonants in a string.

In [6]:
def consonants_count(string):
    count = 0
    string = string.lower()
    consonants = set("bcdfghjklmpqrstvwxyz")
    for i in string :
        if i in consonants:
            count += 1
    return count
string = "udaya"
result = consonants_count(string)
print("number of consonants :",result)

number of consonants : 2

7. Remove all whitespaces from a string.

In [7]:
def remove_whitespace(string):
    x = ""
    for i in string:
        if i != " ":
            x += i
    return x
string = "hello   how are    you"
output = remove_whitespace(string)
print(output)

hellohowareyou

8. Find the length of a string without using the `len()` function.

In [8]:
def finding_length(string):
    count = 0
    for i in string :
        if i == i :
            count += 1
    return count
string = "udaya"
output = finding_length(string)
print(output)

5

9. Check if a string contains a specific word.

In [56]:
def check_specific(str1, str2):
    if str1 in str2:
        return "It has specific word"
    else:
        return "Not found"
    
str1 = "hello"
str2 = "hello how are you"
output = check_specific(str1, str2)
print(output)

It has specific word

10. Replace a word in a string with another word.

In [59]:
def replace_word(string,old,new):
    replaced_string = string.replace(old,new)
    return replaced_string
string = "hello how are you"
old = "hello"
new = "hey"
output = replace_word(string,old,new)
print(output)

hey how are you

11. Count the occurrences of a word in a string.

In [11]:
def count_occurrences(string1,string2):
    count = 0
    string = string1.split()
    for i in string:
        if i == string2:
            count += 1
    return count
string1 = "hello there how are you"
string2 = "hello"
output = count_occurrences(string1,string2)
print("the word",string2,"appered", output ,"Times")

the word hello appered 1 Times

12. Find the first occurrence of a word in a string.

In [12]:
def first_occurance(string1,string2):
    string = string1.find(string2)
    if string == -1 :
        return None 
    return string
string1 = "Hi how are you, I hope you have a great day"
string2 = "hope"
output = first_occurance(string1,string2)
print(output)

18

13. Find the last occurrence of a word in a string.

In [13]:
def last_occurance(string1,string2):
    string = string1.rfind(string2)
    if string == -1 :
        return None 
    return string
string1 = "Hi how are you, I hope you have a great day"
string2 = "have"
output = first_occurance(string1,string2)
print(output)

27

14. Split a string into a list of words.

In [14]:
def split_string(string):
    split = string.split()
    if split == -1:
        return None
    return split
string = "hello how are you"
output = split_string(string)
print(output)

['hello', 'how', 'are', 'you']

15. Join a list of words into a string.

In [15]:
def join_string(string):
    l = " ".join(string)
    return l
string = ["hello","how","are","you"]
output = join_string(string)
print(output)

hello how are you

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
def replace_words(string):
    l = string.replace("_"," ",-1)
    return l
string = "hello_how_are_you"
output = replace_words(string)
print(output)

hello how are you

17. Check if a string starts with a specific word or phrase.

In [17]:
def starts_with(text,prefix):
    string = text.startswith(prefix)
    return string
text = "hello, how, are, you"
prefix = "hello"
output = starts_with(text,prefix)
print(output)

True

18. Check if a string ends with a specific word or phrase.

In [18]:
def ends_with(text,suffix):
    string = text.endswith(suffix)
    return string
text = "hello, how, are, you"
suffix = "you"
output = ends_with(text,suffix)
print(output)

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
def title_case(string):
    x = string.title()
    return x
string = "hello world"
output = title_case(string)
print(output)

Hello World

20. Find the longest word in a string.

In [20]:
def find_longword(string):
    i = string.split()
    long_word = ""
    count = 0
    for x in i:
        if len(x) > count:
            count = len(x)
            long_word = x
    return long_word
string = "this is longest word in any senctence"
output = find_longword(string)
print("Longest word is :",output)

Longest word is : senctence

21. Find the shortest word in a string.

In [21]:
def find_shortword(string):
    i = string.split()
    short_word = ""
    count = float("inf")
    for x in i:
        if len(x) < count:
            count = len(x)
            short_word = x
    return short_word
string = "this is shortest word in any senctence"
output = find_shortword(string)
print("Shortest word is:",output)

Shortest word is: is

22. Reverse the order of words in a string.

In [22]:
def reverse_words(string):
    x = string[::-1]
    a = []
    for i in x :
        a.append(i)
    return a
string = "hi hello"
output = reverse_words(string)
print("".join(output))

olleh ih

23. Check if a string is alphanumeric.

In [23]:
def Check_alphanumeric(string):
    str(string)
    if string.isalnum():
        return "Its alphanumeric"
    else :
        return "Its not a alphanumeric"
string = "udaya123@#$%^"
output = Check_alphanumeric(string)
print (output)

Its not a alphanumeric

24. Extract all digits from a string.

In [24]:
def is_digit(string):
    digit = []
    for i in string:
        if i.isdigit():
            digit += i
    return digit
string = "hello123"
output = is_digit(string)
print("Original string :",string)
print("Extracted numbers in the string :",output)

Original string : hello123
Extracted numbers in the string : ['1', '2', '3']

25. Extract all alphabets from a string.

In [25]:
def is_digi(string):
    alpha = []
    for i in string:
        if i.isalpha():
            alpha += i
    return alpha
string = "hello123"
output = is_digi(string)
print("Original string :",string)
print("Extracted alphabets in the string :","".join(output))

Original string : hello123
Extracted alphabets in the string : hello

26. Count the number of uppercase letters in a string.

In [26]:
def count_uppercase(string):
    count = 0
    for i in string:
        if i.isupper():
            count += 1
    return count
string = "Hi HoW Are you"
output = count_uppercase(string)
print("Number of uppercase is : ",output)

Number of uppercase is :  4

27. Count the number of lowercase letters in a string.

In [27]:
def count_lowercase(string):
    count = 0
    for i in string:
        if i.islower():
            count += 1
    return count
string = "Hi HoW Are you"
output = count_lowercase(string)
print("Number of uppercase is : ",output)

Number of uppercase is :  7

28. Swap the case of each character in a string.

In [28]:
def swap_character(string):
    input_string = string.swapcase()
    return input_string
string = "Hi Hello"
output = swap_character(string)
print(output)

hI hELLO

29.Remove a specific word from a string.

In [29]:
def remove_word(string,remove):
    word = string.replace(remove,"")
    return word
string = "Hi how are you"
remove = "you"
output = remove_word(string,remove)
print(output)

Hi how are

30. Check if a string is a valid email address

In [30]:
import re

def is_valid_email(email):
    pattern = r'^\S+@\S+\.\S+$'
    if re.match(pattern, email):
        return (f"{email} is a valid email address.")
    else:
        return (f"{email} is not a valid email address.")

email = "udayachandaran@gmail.com"
email1 = "udayaemail"
output = is_valid_email(email)
output_1 = is_valid_email(email1)
print(output,"\n",output_1)

udayachandaran@gmail.com is a valid email address.
 udayaemail is not a valid email address.

31. Extract the username from an email address string.

In [31]:
def extract_name(email):
    name = []
    for i in email:
        if i != "@":
            name.append(i)          
        else :
            break
    return name
email = "udayachandaran@gmail.com"
output = extract_name(email)
print ("".join(output))

udayachandaran

32. Extract the domain name from an email address string.

In [32]:
def extract_domain(email):
    extract = email.split('@')[1]
    return extract
email = "udayachandaran@gmail.com"
output = extract_domain(email)
print(output)

gmail.com

33. Replace multiple spaces in a string with a single space.

In [33]:
def replace_space(string):
    replace = " ".join(string.split())
    return replace
string = "hello      how      are       you"
output = replace_space(string)
print(output)

hello how are you

34. Check if a string is a valid URL.

In [34]:
from urllib.parse import urlparse

def check_URL(url):
    try:
        result = urlparse(url)
        return all([result.scheme,result.netloc])
    except:
        return False
url1 = "https://white-painter-tgpgl.pwskills.app/lab/tree/work/Assignment.ipynb"
url2 = "This is not url"
output = check_URL(url1)
output1 = check_URL(url2)
print(output,"\n",output1)

True
 False

35. Extract the protocol (http or https) from a URL string.

In [35]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme in ('http', 'https'):
        return parsed_url.scheme
    else:
        return None 

url1 = "https://white-painter-tgpgl.pwskills.app/lab/tree/work/Assignment.ipynb"
url2 = "invalid url"

protocol1 = extract_protocol(url1) 
protocol2 = extract_protocol(url2) 
print(protocol1)
print(protocol2)

https
None

36. Find the frequency of each character in a string.

In [36]:
def character_frequency(string):
    frequency_dict = {} 
    for char in string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1   
    return frequency_dict

input_string = "Hi how are you"
result = character_frequency(input_string)

for char, count in result.items():
    print(f"chareacter - {char} : frequency - {count}")

chareacter - H : frequency - 1
chareacter - i : frequency - 1
chareacter -   : frequency - 3
chareacter - h : frequency - 1
chareacter - o : frequency - 2
chareacter - w : frequency - 1
chareacter - a : frequency - 1
chareacter - r : frequency - 1
chareacter - e : frequency - 1
chareacter - y : frequency - 1
chareacter - u : frequency - 1

37. Remove all punctuation from a string.

In [37]:
import string

def remove_punctuation(input_string):
    string_1 = str.maketrans("","",string.punctuation)
    removed = input_string.translate(string_1)
    return removed 
input_string = "Hello, how, are you"
output = remove_punctuation(input_string)
print(output)

Hello how are you

38. Check if a string contains only digits.

In [38]:
def check_digits_only(string):
    for i in string:
        if not i.isdigit():
            return "It's not only digits"
    return "It contains only digits"

string = "123456"
string1 = "124hk536k"

output = check_digits_only(string)
output1 = check_digits_only(string1)

print(output)  
print(output1)

It contains only digits
It's not only digits

39. Check if a string contains only alphabets.

In [39]:
def check_alphabets_only(string):
    for i in string:
        if not i.isalpha():
            return "It's not only alphabets"
    return "It contains only alphabets"

string = "hello"
string1 = "124hk536k"

output = check_alphabets_only(string)
output1 = check_alphabets_only(string1)

print(output) 
print(output1)

It contains only alphabets
It's not only alphabets

40. Convert a string to a list of characters.

In [40]:
def convert_string(string):
    converted_string = list(string)
    return converted_string
string = "hello how are you"
output = convert_string(string)
print(output)

['h', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

41. Check if two strings are anagrams.

In [41]:
def check_anagrams(str1,str2):
    string1 = str1.replace(" ","").lower()
    string2 = str2.replace(" ","").lower()
    if len(string1) != len(string2):
        return "It is not anagram"
    for i in string1:
        if i in string2:
            return "It is anagram"
    return "It is not anagram"
str1 = "heart"
str2 = "earth"
str3 = "hello"
str4 = "hey"
output = check_anagrams(str1,str2)
output1 = check_anagrams(str3,str4)
print(output)
print(output1)

It is anagram
It is not anagram

42. Encode a string using a Caesar cipher.

In [62]:
def caesar_cipher(text, shift):
    encrypted_text = ""
    
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            char_code = ord(char) - ord('a')
            shifted_code = (char_code + shift) % 26
            encrypted_char = chr(shifted_code + ord('a'))
            if is_upper:
                encrypted_char = encrypted_char.upper()
            encrypted_text += encrypted_char
        else:
            encrypted_text += char

    return encrypted_text

plaintext = "hello how are you"
shift = 4
cipher_text = caesar_cipher(plaintext, shift)
print("Original:   " + plaintext)
print("Encrypted:  " + cipher_text)

Original:   hello how are you
Encrypted:  lipps lsa evi csy

43. Decode a Caesar cipher encoded string.

In [2]:
def caesar_decipher(ciphertext, shift):
    decrypted_text = ""

    for char in ciphertext:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            char_code = ord(char) - ord('a')
            shifted_code = (char_code - shift) % 26
            decrypted_char = chr(shifted_code + ord('a'))
            if is_upper:
                decrypted_char = decrypted_char.upper()
            decrypted_text += decrypted_char
        else:
            decrypted_text += char

    return decrypted_text

cipher_text = "lipps lsa evi csy"
shift = 4
decrypted_text = caesar_decipher(cipher_text, shift)
print("Encrypted:  " + cipher_text)
print("Decrypted:  " + decrypted_text)

Encrypted:  lipps lsa evi csy
Decrypted:  hello how are you

44. Find the most frequent word in a string.

In [7]:
import re
def most_frequent_word(text):
    words = re.findall(r'\w+', text.lower())
    word_count = {}
    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
    most_frequent = max(word_count, key=word_count.get)
    return most_frequent, word_count[most_frequent]
text = "This is a sample text. This text contains some sample words. Text sample is a sample."
most_frequent, frequency = most_frequent_word(text)
print(f"The most frequent word is '{most_frequent}' with a frequency of {frequency} times.")

The most frequent word is 'sample' with a frequency of 4 times.

45. Find all unique words in a string.

In [21]:
def find_unique_words(text):
    words = text.lower().split()
    unique_words = set(words)
    return unique_words
text = "This is a sample text. This text contains some sample words. Text sample is a sample."
unique_words = find_unique_words(text)
print("Unique words in the text:")
for word in unique_words:
    print(word)

Unique words in the text:
text
sample
contains
some
words.
this
sample.
text.
a
is

46. Count the number of syllables in a string.

In [27]:
import re

def count_syllables(word):
    word = re.sub(r'[^a-zA-Z]', '', word.lower())
    if not word:
        return 0
    syllable_pattern = r'[aeiouy]+'
    syllables = len(re.findall(syllable_pattern, word))
    return syllables
word = "hello"
word1 = "sample text"
syllable_count = count_syllables(word)
syllable_count1 = count_syllables(word1)
print(f"The word '{word}' has {syllable_count} syllable's.")
print(f"The word '{word1}' has {syllable_count1} syllable's.")

The word 'hello' has 2 syllable's.
The word 'sample text' has 3 syllable's.

47. Check if a string contains any special characters.

In [5]:
import re

def contains_special_characters(text):
    special_char_pattern = r'[!@#$%^&*()_+{}\[\]:;"\'<>,.?\\|]'
    if re.search(special_char_pattern, text):
        return True
    else:
        return False

text1 = "This is a regular sentence."
text2 = "This one contains a special character: @"

result1 = contains_special_characters(text1)
result2 = contains_special_characters(text2)

print(f"'{text1}' contains special characters: {result1}")
print(f"'{text2}' contains special characters: {result2}")

'This is a regular sentence.' contains special characters: True
'This one contains a special character: @' contains special characters: True

48. Remove the nth word from a string.

In [19]:
def remove_nth_word(text,n):
    char = text.split()
    if n >=1 and n <= len(char):
        del char [n - 1]
        modified_string = " ".join(char)
        return modified_string
    else :
        return "Invalid n value"
text = "This is sample text"
n = 3
output = remove_nth_word(text,n)
print(f"Original:{text}\nModified:{output}")

Original:This is sample text
Modified:This is text

49. Insert a word at the nth position in a string.

In [32]:
def insert_nth_word(text,insert,n):
    char = text.split()
    if n >=0 and n <= len(char):
        char.insert(n,insert)
        modified_string = " ".join(char)
        return modified_string
    else :
        return "Invalid n value"
text = "This is sample text"
insert = "Hey,"
n = 0
output = insert_nth_word(text,insert,n)
print(f"Original: {text}\nModified: {output}")

Original: This is sample text
Modified: Hey, This is sample text

50. Convert a CSV string to a list of lists.

In [36]:
import csv
from io import StringIO

def convert_csv(csv_string):
    csv_text = csv.reader(StringIO(csv_string))
    csv_convert = [row for row in csv_text]
    return csv_convert
csv_string = "Name, Age, Sex, Location\nUdaya, 27, Male, Pondicherry"
output = convert_csv(csv_string)
for row in output:
    print(row)

['Name', ' Age', ' Sex', ' Location']
['Udaya', ' 27', ' Male', ' Pondicherry']

### List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [2]:
my_list = [i for i in range(1, 11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [12]:
def length_list(text):
    count = 0
    for i in text :
        count += 1
    return count
text = [1,2,3,4,"hello",5,89]
output = length_list(text)
print(f"length of the text is : {output}")

length of the text is : 7

3. Append an element to the end of a list.

In [18]:
def append_list(lis,apnd):
    lis.append(apnd)
    return lis
lis = [1,2,3]
apnd = 4
output = append_list(lis,apnd)
print(output)

[1, 2, 3, 4]

4. Insert an element at a specific index in a list.

In [26]:
my_list = [1,2,3,4,6,7,8,9]
element = 5
my_list.insert(4,element)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

5. Remove an element from a list by its value.

In [28]:
my_list = [1, 2, 3, 4, 5]
value_to_remove = 3
my_list.remove(value_to_remove)
print(my_list)

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [35]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
index_to_remove = 5
my_list.pop(index_to_remove)
print(my_list)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [34]:
def check_exist(lis,exist):
    if exist in lis:
        return "It exist"
    else:
        return "It doesn't exist"
lis = [1,2,3,4,5]
exist = 2
output = check_exist(lis,exist)
print(output)

It exist

8. Find the index of the first occurrence of an element in a list.

In [38]:
lis = [1,2,3,4,5,6,7,8,9,10]
find = 10
index = lis.index(find)
print(f"the index of {find} is {index}")

the index of 10 is 9

9. Count the occurrences of an element in a list.

In [40]:
my_list = [1,2,3,4,4,5,6,5,7,8,35,23,5,4,78,4,3]
element_to_find = 5
found = my_list.count(element_to_find)
print(f"The element {element_to_find} is appeared {found} times")

The element 5 is appeared 3 times

10. Reverse the order of elements in a list.

In [44]:
my_list = [1,2,3,4,5,6]
reverse = my_list[::-1]
print(f"List : {my_list}\nreversed list : {reverse}")

List : [1, 2, 3, 4, 5, 6]
reversed list : [6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [45]:
my_list = [8,7,6,4,3,2,5,1,9]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

12. Sort a list in descending order.

In [46]:
my_list = [8,7,6,4,3,2,5,1,9]
my_list.sort(reverse=True)
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [53]:
def even_num():
    empty_list = []
    for i in range(1,21):
        if i % 2 == 0:
            empty_list.append(i)
    return empty_list
even = even_num()
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [3]:
def odd_num():
    empty_list = []
    for i in range(1,21):
        if i % 2 == 1:
            empty_list.append(i)
    return empty_list
odd = odd_num()
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [4]:
my_list = [5,5,5,5]
sum_of_list = sum(my_list)
print(sum_of_list)

20

16. Find the maximum value in a list.

In [6]:
my_list = [1,2,3,4,5,6,7,8,9,10,1,2,3]
max_num = max(my_list)
print(max_num)

10

17. Find the minimum value in a list.

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
min_num = min(my_list)
print(min_num)

1

18. Create a list of squares of numbers from 1 to 10.

In [9]:
square_list = [x ** 2 for x in range(1,11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [16]:
import random

random_int = [random.randint(1,100) for _ in range(10)]
print(random_int)

[63, 20, 88, 39, 75, 85, 99, 71, 5, 48]

20. Remove duplicates from a list.

In [21]:
my_list = [1,3,4,5,5,6,7,8,8,8,9,2,1,2,3,4,3,3,3]
remove_duplicate = list(set(my_list))
print(remove_duplicate)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

21. Find the common elements between two lists.

In [25]:
common_element = []
list1 = [1,2,3,4,5]
list2 = [6,7,8,2,1]
for common in list1:
    if common in list2:
        common_element.append(common)
print(common_element)

[1, 2]

22. Find the difference between two lists.

In [28]:
list1 = [10,20,30,50,70]
list2 = [10,20,90,60,80]
difference_1 = list(set(list1) - set(list2))
difference_2 = list(set(list2) - set(list1))
print(f"number not in list 2: {difference_1}")
print(f"number not in list 1: {difference_2}")

number not in list 2: [50, 70, 30]
number not in list 1: [80, 90, 60]

23. Merge two lists.

In [29]:
list_1 = [10,20,30,40,50]
list_2 = [60,70,80,90,100]
merged_list = list_1 + list_2
print(merged_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

24. Multiply all elements in a list by 2.

In [30]:
my_list = [10,20,30,40,50]
multi_elements = [x * 2 for x in my_list]
print(multi_elements)

[20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [32]:
my_list = [1,2,3,4,5,6,7,8,9,10]
empty_list = []
for x in my_list:
    if x % 2 == 0 :
        continue
    else:
        empty_list.append(x)
print(empty_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [33]:
my_list = ["10","20","30","40","50"]
convert = [int(x) for x in my_list]
print(convert)

[10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [34]:
my_list = [10,20,30,40,50,]
convert = [str(x) for x in my_list]
print(convert)

['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [177]:
def flatten_nested_list(nest_list):
    flatten_list = []
    for x in nest_list:
        if isinstance(x, list):
            flatten_list.extend(flatten_nested_list(x))
        else:
            flatten_list.append(x)
    return flatten_list
nest_list = [10,20,30,[40,50,[60,70,80],90],100]
output = flatten_nested_list(nest_list)
print(output)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

29. Create a list of the first 10 Fibonacci numbers.

In [12]:
def find_fibonacci(n):
    fibonacci = [0,1]
    for i in range(2, n):
        fibo = fibonacci[i - 1] + fibonacci[i-2]
        fibonacci.append(fibo)
    return fibonacci

output = find_fibonacci(10)
print(output)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [24]:
def check_sorted(lis):
    for i in range(1, len(lis)):
        if lis[i] < lis[i-1]:
            return "The list is not sorted"
    return"The list is sorted"
lis = [10,20,30,40,50,70]
lis1 = [20,10,50,30,20,90]
output = check_sorted(lis)
output1 = check_sorted(lis1)
print(f"{lis} {output}\n{lis1} {output1}")

[10, 20, 30, 40, 50, 70] The list is sorted
[20, 10, 50, 30, 20, 90] The list is not sorted

31. Rotate a list to the left by `n` positions.

In [30]:
def rotate_left(lis, n):
    n = n % len(lis)
    rotated_list = lis[n:] + lis[:n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]
n = 3
rotated_list = rotate_left(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [35]:
def rotate_right(lis, n):
    n = n % len(lis)
    rotated_list = lis[-n:] + lis[:-n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]
n = 3
rotated_list = rotate_right(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [38]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [3]:
def chunk_list(arr, n):
    return [arr[i:i + n] for i in range(0, len(arr), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunked_list = chunk_list(my_list, 2)
print(chunked_list)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

35. Find the second largest number in a list.

In [1]:
def second_largest(arr):
    if len(arr) < 2:
        return "The list does not have a second largest number."
    
    largest = max(arr[0], arr[1])
    second_largest = min(arr[0], arr[1])

    for num in arr:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num < largest:
            second_largest = num
    return second_largest

my_list = [10, 5, 8, 20, 15]
result = second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 15

36. Replace every element in a list with its square.

In [3]:
def square_root(arr):
    sqr_root = [x ** 2 for x in arr]
    return sqr_root
my_list = [10,20,30,40,50]
result = square_root(my_list)
print(result)

[100, 400, 900, 1600, 2500]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [4]:
def list_to_dict(arr):
    dict_result = {value: index for index, value in enumerate(arr)}
    return dict_result

my_list = ["apple", "banana", "cherry", "date"]
dict_result = list_to_dict(my_list)
print(dict_result)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [17]:
import random

def random_shuffle(my_list):
    random.shuffle(my_list)
    return my_list

my_list = [10,20,30,40,50]
result = random_shuffle(my_list)
print(result)

[10, 30, 50, 20, 40]

39. Create a list of the first 10 factorial numbers.

In [3]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = range(1, 11)
factorial_numbers = [factorial(i) for i in n]
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [11]:
def check_list(lis1, lis2):
    for n in lis1:
        for i in lis2:
            if n == i:
                return True
    return False

lis1 = [1, 2, 3, 4, 5]
lis2 = [1, 7, 8, 9, 10]
print(check_list(lis1, lis2))

True

41. Remove all elements from a list.

In [14]:
List = [1,2,34,45,56,"asfdkjl"]
List.clear()
print(List)

[]

42. Replace negative numbers in a list with 0.

In [18]:
def replace_negative(lst):
    result = []
    for i in lst:
        if i > 0:
            result.append(i)
        else:
            result.append(0)
    return result

lis = [1, 2, 3, -4, -5, -6, 8, 9, 10]
print(replace_negative(lis))

[1, 2, 3, 0, 0, 0, 8, 9, 10]

43. Convert a string into a list of words.

In [22]:
string = "Hello"
list(string)

['H', 'e', 'l', 'l', 'o']

44. Convert a list of words into a string.

In [29]:
lis = ['Hello','world']
str(lis)

"['Hello', 'world']"

45. Create a list of the first `n` powers of 2.

In [30]:
def powers_of_2(n):
    return [2 ** i for i in range(n)]
n = 5
result = powers_of_2(n)
print(result)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [24]:
def find_long_string(string):
    long_string = string[0]
    for i in string:
        if len(i) > len(long_string):
            long_string = i 
    return long_string
string = ['Hello','How','are','You']
print(find_long_string(string))

Hello

47. Find the shortest string in a list of strings.

In [30]:
def find_short_string(string):
    long_string = string[0]
    for i in string:
        if len(i) < len(long_string):
            long_string = i 
    return long_string
string = ['Hello','how','are','You']
print(find_short_string(string))

how

48. Create a list of the first `n` triangular numbers.

In [32]:
def find_triangular(n):
    result = []
    for i in range(1,n):
        triangular = i * (i+1) // 2
        result.append(triangular)
    return result
n = 10
print(find_triangular(n))

[1, 3, 6, 10, 15, 21, 28, 36, 45]

49. Check if a list contains another list as a subsequence.

In [37]:
def check_subsequence(lis1,lis2):
    lis1_len = len(lis1)
    lis2_len = len(lis2)
    lis1_index = 0
    lis2_index = 0
    while lis1_index < lis1_len:
        if lis1[lis1_index] == lis2[lis2_index]:
            lis2_index += 1
            if lis2_index == lis2_len:
                return True
        lis1_index += 1
    return False
lis1 = [1, 2, 3, 4, 5, 6, 7, 8]
lis2 = [3,4]
print(check_subsequence(lis1,lis2))

True

50. Swap two elements in a list by their indices.

In [44]:
def swap_element(lis,indice1,indice2):
    lis[indice1],lis[indice2] = lis[indice2],lis[indice1]
    return lis
lis = [1,2,3,4,5]
indice1 = 1
indice2 = 2
print(swap_element(lis,indice1,indice2))

[1, 3, 2, 4, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [48]:
tuples = (1,2,3,4,5)
print(type(tuples))

<class 'tuple'>

2. Access the third element of a tuple.

In [56]:
tuples = (1,2,3,4,5)
print(f'third element of a tuple is : {tuples[2]}')

third element of a tuple is : 3

3. Find the length of a tuple without using the `len()` function.

In [59]:
def find_len(n):
    count = 0
    for i in n :
        count += 1
    return count
n = (1,2,3,4,5,6)
print(find_len(n))

6

4. Count the occurrences of an element in a tuple.

In [12]:
def find_occurrences(a):
    b = {}
    for i in a :
        if i in b :
            b[i] += 1
        else :
            b[i] = 1
    return b 
a = (1,2,3,3,4,5,6)
result = find_occurrences(a)
print(result)

{1: 1, 2: 1, 3: 2, 4: 1, 5: 1, 6: 1}

5. Find the index of the first occurrence of an element in a tuple.

In [16]:
def find_first_occurrence(n):
    b = {}
    for i in a :
        if i in b :
            pass
        else :
            b[i] = a.index(i)
    return b 
a = (1,1,1,2,3,3,4,2,5,6,4)
result = find_first_occurrence(a)
print(result)

{1: 0, 2: 3, 3: 4, 4: 6, 5: 8, 6: 9}

6. Check if an element exists in a tuple.

In [18]:
def check_element_exist(n,j):
    if n in j :
        return True
    else:
        return False
j = (1,2,3,4,5)
n = 1
print(check_element_exist(n,j))

True

7. Convert a tuple to a list.

In [19]:
tuple1 = (1,2,4,5)
list(tuple1)

[1, 2, 4, 5]

8. Convert a list to a tuple.

In [21]:
list1 = [1,2,4,5]
tuple(list1)

(1, 2, 4, 5)

9. Unpack the elements of a tuple into variables.

In [28]:
tuplE = ("banana","Orange","apple","strawberry")
a, b, *c = tuplE
print(a)
print(b)
print(c)

banana
Orange
['apple', 'strawberry']

10. Create a tuple of even numbers from 1 to 10.

In [30]:
def tuple_even(n):
    a = []
    for i in range(1,n+1) :
        if i % 2 == 0 :
            a.append(i)
    return a
n = 10
print(tuple(tuple_even(n)))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [1]:
def odd_number(n):
  a = []
  for i in range(1,n+1):
    if i % 2 != 0 :
      a.append(i)
  return a
n = 10

print(odd_number(n))

[1, 3, 5, 7, 9]

12. Concatenate two tuples.

In [2]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
x = a + b
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [3]:
a = (1,2,3)
x = a * 3
print(x)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [4]:
a = ()
if len(a) == 0:
  print(True)
else :
  print(False)

True

15. Create a nested tuple.

In [5]:
a = (1,2,3,(4,5,6,7))
print(a)

(1, 2, 3, (4, 5, 6, 7))

16. Access the first element of a nested tuple.

In [6]:
a = (1,2,3,4,5,(6,7,8,9,10))
a[5][0]

6

17. Create a tuple with a single element.

In [7]:
a = (1,)
print(a)
type(a)

(1,)

tuple

18. Compare two tuples.

In [8]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
if a == b :
  print("tuples are equal")
else:
  print("Tuples are not equal")

Tuples are not equal

19. Delete a tuple.

In [9]:
a = (1,2,3,4,5)
del a
try:
  print(a)
except Exception as e:
  print(e)

name 'a' is not defined

20. Slice a tuple.

In [10]:
a = (1,2,3,4,5,6,7,8,9,10)
print(a[0:5],a[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

21. Find the maximum value in a tuple.

In [11]:
def find_max(n):
  max = n[0]
  for i in n[1:] :
    if i > max:
      max = i
  return max
n = (1,2,3,4,5)
print(find_max(n))

5

22. Find the minimum value in a tuple.

In [12]:
def find_min(n):
  min = n[0]
  for i in n[1:] :
    if i < min:
      min = i
  return min
n = (1,2,3,4,5)
print(find_min(n))

1

23. Convert a string to a tuple of characters.

In [16]:
a = "My name is Udaya"
b = tuple(a)
print(b)

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'U', 'd', 'a', 'y', 'a')

24. Convert a tuple of characters to a string.

In [17]:
a = (('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'U', 'd', 'a', 'y', 'a'))
b = str(",".join(a).replace(',',''))
print(b)

My name is Udaya

25. Create a tuple from multiple data types.

In [18]:
a = (1,"hello",2.00)
b = type(a)
print(f'{type(a[0])}{a[0]},{type(a[1])}{a[1]},{type(a[2])}{a[2]}')

<class 'int'>1,<class 'str'>hello,<class 'float'>2.0

26. Check if two tuples are identical.

In [19]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
if a == b :
  print("Two tuples are identical")
else :
  print("Tuples are not identical")

Tuples are not identical

27. Sort the elements of a tuple.

In [20]:
def sort_tuple(arr1):
  arr = list(arr1)
  for i in range(len(arr)-1):
    for j in range(len(arr)-i-1):
      if arr[j] > arr[j+1]:
        arr[j],arr[j+1] = arr[j+1],arr[j]
  return tuple(arr)
arr1 = (13,64,8,94,6,41,8,41,87,97,94,31,3,1,2)
print(sort_tuple(arr1))

(1, 2, 3, 6, 8, 8, 13, 31, 41, 41, 64, 87, 94, 94, 97)

28. Convert a tuple of integers to a tuple of strings.

In [33]:
tuple_int = (1,2,3,4,5)
tuple_string = tuple(str(i) for i in tuple_int)
print(tuple_string)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [34]:
tuple_string = ('1','2','3','4','5')
tuple_int = tuple(int(i) for i in tuple_string)
print(tuple_int)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [35]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple.

In [36]:
def tuple_1(n):
    lis = []
    for i in n :
        if type(i) == tuple:
            lis.extend(tuple_1(i))
        else:
            lis.append(i)
    return tuple(lis)
a =((1, 2, (3, 4)), 5, (6, 7))
print(tuple_1(a))

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [40]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = tuple(num for num in range(2, 51) if is_prime(num))

print(prime_numbers)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)

33. Check if a tuple is a palindrome.

In [50]:
def check_palidrome(n):
    if n[::-1] == n:
        return "its palindrome"
    else:
        return "not palindrome"
n = (1,2,2,5)
print(check_palidrome(n))

not palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [51]:
def square_numbers(n):
    lis = []
    for i in n:
        lis.append(i ** 2)
    return tuple(lis)
n = (1,2,3,4,5)
print(square_numbers(n))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [65]:
n = (1,2,3,4,5,6,7,8,9,10)
filter_even = tuple(i for i in n if i % 2 == 0)
print(filter_even)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [58]:
n = (1,2,3,4,5)
multi_tuple = tuple(i * 2 for i in n)

print(multi_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [72]:
import random
random_tuple = tuple(random.randint(1,10) for i in range(10))
print(random_tuple)

(2, 4, 4, 7, 1, 2, 5, 8, 6, 5)

38. Check if a tuple is sorted.

In [116]:
def check_sorted(n):
    lis1 = list(n)  
    lis = list(n)
    lis.sort()
    if lis == lis1 :
        return "sorted"
    else:
        return "not sorted"
n = (1,2,3,4,5,6)
print(check_sorted(n))

sorted

39. Rotate a tuple to the left by `n` positions.

In [146]:
def rotate_position_left(arr,position):
    lis = list(arr)
    temp,temp1 = lis[:position],lis[position:]
    result = temp1 + temp
    return result
    
arr = (1,2,3,4,5)    
position = 1
print(rotate_position_left(arr,position))

[2, 3, 4, 5, 1]

40. Rotate a tuple to the right by `n` positions.

In [149]:
def rotate_position_right(arr,position):
    lis = list(arr)
    temp,temp1 = lis[-position:],lis[:-position]
    result = temp + temp1
    return result
    
arr = (1,2,3,4,5)    
position = 1
print(rotate_position_right(arr,position))

[5, 1, 2, 3, 4]

41. Create a tuple of the first 5 Fibonacci numbers.

In [178]:
def fibonacci(n):
    n = n - 2
    a = 0
    b = 1
    arr = [0,1]
    for i in range(n):
        arr.append(arr[a] + arr [b])
        a = a + 1
        b = b +1
    return tuple(arr)  
n = (5)
print(fibonacci(n))

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [205]:
tuple_input = tuple(map(int,input("enter any number :")))
print(tuple_input)

enter any number : 123

(1, 2, 3)

43. Swap two elements in a tuple.

In [218]:
def swap_tuple(tup):
    arr = list(tup)
    arr[0], arr[1] = arr[1], arr[0]
    return arr
tup = (1,2,3,4,5)
print(swap_tuple(tup))

[2, 1, 3, 4, 5]

44. Reverse the elements of a tuple.

In [219]:
def reverse_tuple(tup):
    a = list(tup)
    result = a[::-1]
    return tuple(result)
tup = (1,2,3,4,5,)
print(reverse_tuple(tup))

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [221]:
def power_2(n):
    result = []
    for i in range(n+1):
        result.append(2 ** i)
    return tuple(result)
n = 5
print(power_2(n))

(1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [231]:
def longest_tuple(tup):
    result = tup[0]
    for i in tup:
        if len(i) > len(result):
            result = i 
    return result
tup = ("apple","banana","orange")
print(longest_tuple(tup))

banana

47. Find the shortest string in a tuple of strings.

In [232]:
def shortest_tuple(tup):
    result = tup[0]
    for i in tup:
        if len(i) < len(result):
            result = i 
    return result
tup = ("apple","banana","orange")
print(shortest_tuple(tup))

apple

48. Create a tuple of the first `n` triangular numbers.

In [235]:
def triangular(n):
    result = []
    a = 0
    for i in range(1,n+1) :
        a = a + i 
        result.append(a)
    return result
n = 5
print(triangular(n))

[1, 3, 6, 10, 15]

49. Check if a tuple contains another tuple as a subsequence.

In [260]:
def issubsequence(tup1 , tup2):
    lis = []
    for i in tup2:
        if i in tup1 :
            lis.append(1)
        else:
            lis.append(0)
    if 0 in lis:
        return "not subsequence"
    else:
        return "subseqeunce"
tup1 = (1,2,3,4,5)
tup2 = (2,3)
print(issubsequence(tup1,tup2))

subseqeunce

50. Create a tuple of alternating 1s and 0s of length `n`.

In [1]:
def alternating(n):
    a = (1,0) * n
    return tuple(a[:n])
n = 5
print(alternating(n))

(1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [7]:
n = range(1,6)
set_number = set(i for i in n)
print(set_number)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [15]:
set_element = {1,2,3,4,5}
set_element.add(6)
print(set_element)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [16]:
set_1 = {1,2,3,4,5}
set_1.remove(2)
set_1

{1, 3, 4, 5}

4. Check if an element exists in a set.

In [24]:
def check_element(set_1,element):
    for i in set_1:
        if i == element :
            return "exist"
        else:
            return "e"
            
set_1 = {1,2,3,4,5}
element = 1
print(check_element(set_1,element))

exist

5. Find the length of a set without using the `len()` function.

In [30]:
def find_length(n):
    count = 0
    for i in n :
        count += 1
    return count
n = {1,2,3,4,5}
print(find_length(n))

5

6. Clear all elements from a set.

In [33]:
set_1 = {1,2,3,4,5}
set_1.clear()
set_1

set()

7. Create a set of even numbers from 1 to 10.

In [39]:
n = 10
set_even = {i for i in range(1,n+1) if i % 2 == 0}
print(set_even)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [40]:
n = 10
set_odd = {i for i in range(1,n+1) if i % 2 != 0}
print(set_odd)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [43]:
a = {1,2,3,4}
b = {4,1,6,7,8,9}
c = a.union(b)
print(c)

{1, 2, 3, 4, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [44]:
a = {1,2,3,4}
b = {4,1,6,7,8,9}
c = a.intersection(b)
print(c)

{1, 4}

11. Find the difference between two sets.

In [45]:
a = {1,2,3,4}
b = {4,1,6,7,8,9}
c = a.difference(b)
print(c)

{2, 3}

12. Check if a set is a subset of another set.

In [50]:
a = {1,2,3,4,5,6,7,8}
b = {1,2,3}
b.issubset(a)

True

13. Check if a set is a superset of another set.

In [52]:
a = {1,2,3,4,5,6,7,8}
b = {1,2,3}
a.issuperset(b)

True

14. Create a set from a list.

In [54]:
lis = [1,2,3,4,5,"hello"]
set(lis)

{1, 2, 3, 4, 5, 'hello'}

15. Convert a set to a list.

In [55]:
lis = {1,2,3,4,5,"hello"}
list(lis)

[1, 2, 3, 4, 5, 'hello']

16. Remove a random element from a set.

In [69]:
set_1 = {1,2,3,4,5,"hello"}
set_1.remove(3)
set_1

{1, 2, 4, 5, 'hello'}

17. Pop an element from a set.

In [71]:
set_1 = {2,3,5,4,7}
set_1.pop()
set_1

{3, 4, 5, 7}

18. Check if two sets have no elements in common.

In [73]:
set_1 = {1,2,3,4,5}
set_2 = {7,6,8,9}
a = set_2.issubset(set_1)
if a == False :
    print("no element in common")

no element in common

19. Find the symmetric difference between two sets.

In [75]:
set_1 = {1,2,3,4,5,10}
set_2 = {1,2,3,4,5,20}
set_1.symmetric_difference(set_2)

{10, 20}

20. Update a set with elements from another set.

In [77]:
set_1 = {1,2,3,4,5,10}
set_2 = {1,2,3,4,5,20}
set_1.update(set_2)
print(set_1)

{1, 2, 3, 4, 5, 10, 20}

21. Create a set of the first 5 prime numbers.

In [37]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set(num for num in range(2, 51) if is_prime(num))

print(prime_numbers)

{2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

22. Check if two sets are identical.

In [79]:
set_1 = {1,2,3,4,5}
set_2 = {1,2,3,4,5}
if set_1 == set_2 :
    print("identical")
else:
    print("not identical")

identical

23. Create a frozen set.

In [81]:
set_1 = {1,2,3,4,5}
frozen = frozenset(set_1)
print(frozen)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [85]:
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9}
set_1.isdisjoint(set_2)

True

25. Create a set of squares of numbers from 1 to 5.

In [90]:
n = 5
squares = {i ** 2 for i in range(1,n+1) }
print(squares)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [91]:
n = {1,2,3,4,5,6,7,8,9,10}
filter_even = {i for i in n if i % 2 == 0}
print(filter_even)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [92]:
n = {1,2,3,4,5,6,7,8,9,10}
multiply = {i * 2 for i in n}
print(multiply)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [100]:
import random
a = {i for i in range(1,random.randint(1,10))}
a

{1, 2, 3, 4, 5, 6}

29. Check if a set is empty.

In [107]:
set_1 = {}
if len(set_1) == 0:
    print("empty")
else:
    print("its not empty")

empty

30. Create a nested set (hint: use frozenset).

In [111]:
nested_set = {frozenset({1,2,3,4}),frozenset({5,6,7,8,9})}
print(nested_set)

{frozenset({5, 6, 7, 8, 9}), frozenset({1, 2, 3, 4})}

31. Remove an element from a set using the discard method.

In [120]:
n = {1,2,3,4,5,6,7,8,9,10}
n.discard(1)
n

{2, 3, 4, 5, 6, 7, 8, 9, 10}

32. Compare two sets.

In [127]:
set_1 = {1,2,3,4,5}
set_2 = {2,3}
a = set_1.symmetric_difference(set_2)
b = set_1.union(set_2)
c = set_1.difference(set_2)
d = set_1.issuperset(set_2)
f = set_2.issubset(set_1)
g = set_1.intersection(set_2)
print(f"{a}\n{b}\n{c}\n{d}\n{f}\n{g}")

{1, 4, 5}
{1, 2, 3, 4, 5}
{1, 4, 5}
True
True
{2, 3}

33. Create a set from a string.

In [130]:
a = "hello"
set(a)

{'e', 'h', 'l', 'o'}

34. Convert a set of strings to a set of integers.

In [137]:
a = {"1","2","3","4","5","6"}
b = set(map(int,a))
b

{1, 2, 3, 4, 5, 6}

35. Convert a set of integers to a set of strings.

In [139]:
a = {1,2,3,4,5,6,7}
b = set(map(str,a))
b

{'1', '2', '3', '4', '5', '6', '7'}

36. Create a set from a tuple.

In [140]:
tup = (1,2,3,4,5)
b = set(tup)
b

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [141]:
set_1 = {1,2,3,4,5}
b = tuple(set_1)
b

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [142]:
set_1 = {1,2,3,4,5}
b = max(set_1)
b

5

39. Find the minimum value in a set.

In [143]:
set_1 = {1,2,3,4,5}
b = min(set_1)
b

1

40. Create a set from user input.

In [146]:
set_1 = {input()}
print(set_1,type(set_1))

 124

{'124'} <class 'set'>

41. Check if the intersection of two sets is empty.

In [9]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,0}
if len(set1.intersection(set2)) == 0 :
    print(f"the intersection is empty {set1.intersection(set2)}")
else:
    print(f"intersection is not empty {set1.intersection(set2)}")

the intersection is empty set()

42. Create a set of the first 5 Fibonacci numbers.

In [39]:
def fibonacci(n):
    a = 0
    b = 1
    c = {0,1}
    for i in range(n-2):
        c.add(a+b)
        a,b = b, a+b
    return c
print(fibonacci(5))

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [42]:
lis = [1,2,3,3,4,4,5,6,7,8,8,1]
lis1 = list(set(lis))
lis1

[1, 2, 3, 4, 5, 6, 7, 8]

44. Check if two sets have the same elements, regardless of their count.

In [55]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}
if set1 == set2 or set2.issubset(set1) == True or set1.issuperset(set2) == True or set1.issubset(set2) == True or set2.issuperset(set1):
    print(True)
else:
    print(False)

True

45. Create a set of the first `n` powers of 2.

In [66]:
def set_power(n):
    power = set()
    for i in range(1,n+1) :
        power.add(i**2)
    return power
print(set_power(5))

{1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [67]:
set1 = {1,2,3,4,5,7,8,9}
lis = [1,2,3,4]
set1.intersection(lis)

{1, 2, 3, 4}

47. Create a set of the first `n` triangular numbers.

In [76]:
def triangular(n):
    tri_num = set()
    a = 0
    for i in range(1,n+1):
        tri_num.add(a + i)
        a = a + i 
    return tri_num
print(triangular(10))

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [3]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5}
set2.issubset(set1)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [11]:
import random
def alternate(n):
    alt = set()
    for i in range(n):
        alt.add(random.randint(0,1))
    return alt
print(alternate(10))

{0, 1}

50. Merge multiple sets into one.

In [19]:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
a.update(b,c)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}